.App {
  text-align: center;
  background-image: url(../src/Img/FondoPPT.jpg);
  background-color: #282c34;
  min-height: 100vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.name {
  display: flex;
  justify-content: center;
}
.welcome {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  margin-left: 25%;
  margin-right: 25%;
}
.background {
  background-color: rgba(300, 300, 300, 0.9);
  border: 2px solid black;
  border-radius: 15px;
  margin-left: 25%;
  margin-right: 25%;
}
.App-header {
  border: 2px solid gray;
  margin-left: 20%;
  margin-right: 20%;
  font-size: calc(20px + 2vmin);
  color: rgb(10, 9, 9);

  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: white;
}

.App-link {
  color: #6b61fb;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  
}

.playerChoice {
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 15px;
}
.playerChoice:hover {
  background-color: grey;
  cursor: pointer;
  transform: rotate(15deg);
}
.selected {
  background-color: green;
  border: 2px solid green;
}
.error-message {
  color: red;
}

.scoreboard {
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 15px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas */
  grid-gap: 5px; /* Espacio entre elementos */
  margin-top: 5px;
  padding-left: 10%;
  padding-right: 10%;
}
.player,
.score {
  padding: 1px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  border-radius: 15px;
}
.score {
  background-color: rgba(114, 113, 113, 0.603);
  font-weight: bold;
}

.game-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas con el mismo ancho */
  grid-gap: 15px; /* Espacio entre elementos */
  text-align: center;
  max-width: 600px; /* Ajusta el ancho máximo según tus preferencias */
  margin: 0 auto; /* Centra el grid horizontalmente */
  padding: 20px;
}

.message {
  grid-column: span 2; /* Ocupa el ancho de ambas columnas */
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
.message.round {
  background-color: rgba(114, 113, 113, 0.603);
}
.newgame {
  background-color: whitesmoke(112, 122, 98);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 15px;
  cursor: pointer;
}
.newgame:hover {
  background-color: green;
}

.refresh {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button {
  grid-column: span 2; /* Ocupa el ancho de ambas columnas */
  background-color: #414242;
  color: #fff;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 15px;
  cursor: pointer;
}
.button.disabled{
  background-color: red;
  
}
.button.disabled:hover{
  background-color: red;
}
.button:hover {
  background-color: #00b336;
}

.inputName {
  background-color: whitesmoke;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}
.inputName:hover {
  background-color: grey;
}

input {
  color: #333; /* Cambiar el color del texto */
  background-color: #f0f0f0; /* Cambiar el color de fondo */
  border: 1px solid #ccc; /* Cambiar el borde */
  padding: 10px; /* Cambiar el espaciado interno */
  border-radius: 15px; /* Agregar esquinas redondeadas */
}
